body{
    background: linear-gradient(orange, rgb(255, 255, 255), green);
}

h1{
    font-style: italic;
}

.bombay:hover{
    transform: scale(0.9);
}

.pune:hover{
    transform: scale(0.9);
}

.hyderabad:hover{
    transform: scale(0.9);
}